footer.page-footer.blue-grey.darken-2
    .container
        h4.header.light Baaz Jungle Resort
        p.light Tadoba
    .footer-copyright
        .container
            a(href="http://root-kings.github.io") Designed by R00t
