//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
//- .divider
footer.page-footer(style="background:#171E2F")
    .row(style="margin:0;padding:30px")
        .col.s12.m2.center
            a.center(href="/about")(style="padding:30px;color:white") About        
        .col.s12.m2.center
            a.center(href="/")(style="padding:30px;color:white") Jobs
        .col.s12.m2.center
            a.center(href="/contact")(style="padding:30px;color:white") Contact
        .col.s12.m2.center
            a.center(href="/")(style="padding:30px;color:white") Terms & Condition
        .col.s12.m2.center
            a.center(href="/")(style="padding:30px;color:white") Privacy Policy
    
    .container
        .row
            a(href="/")
                img(src="/images/email.svg", alt="", width="30", style="margin:0px 30px 0px 30px")
            a(href="/")
                img(src="/images/facebook.svg", alt="", width="30", style="margin:0px 30px 0px 30px")
            a(href="/")
                img(src="/images/twitter.svg", alt="", width="30", style="margin:0px 30px 0px 30px")
    .footer-copyright
