extends components/layout.pug

block styles

block content
    section(style="margin-top:10vh")
        .container
            .row
                h2.left.opensans(style="color:#FF8400") About the GAGS!!
                //- #FF8400
    
        .row
            h5.center.mont(style="font-size:50px;color:#64777d;padding:60px") We Provide
            .col.s12.m6                     
                .card.horizontal.z-depth-4(style="border-radius:13px;background:#EFBF51")(data-aos="fadeInUp" data-aos-easing="linear" data-aos-duration="1500")                   
                    .card-content
                        .row
                            .col.s12.m4.center
                                img(src="/images/timer.png", alt="")
                            .col.s12.m8
                                p.white.mont.black-text.center.z-depth-2(style="text-transform:uppercase;font-weight:800;letter-spacing:3px;padding:6px 10px;border-radius:2px")
                                    |   Most Secure
                                h2.center.opensans(style="font-size:30px;font-weight:900;margin:0px;padding:30px")
                                    |   Get Everthing delivered most securely
                                p.mont.left(style="font-size:20px")
                                    |   The quickest way to get anything delivered in your city.

            .col.s12.m6                     
                .card.horizontal.z-depth-4(style="border-radius:13px;background:#8426DB")(data-aos="fadeInUp" data-aos-easing="linear" data-aos-duration="1500")
                    //- .card-image
                        img(src='https://lorempixel.com/100/190/nature/6')
                    .card-content
                        .row
                            .col.s12.m4.center
                                img(src="/images/location.png", alt="")
                            .col.s12.m8
                                p.white.mont.black-text.center.z-depth-2(style="text-transform:uppercase;font-weight:800;letter-spacing:3px;padding:6px 10px;border-radius:2px")
                                    |   Most Secure
                                h2.center.opensans.white-text(style="font-size:30px;font-weight:900;margin:0px;padding:30px")
                                    |   Get Everthing delivered most securely
                                p.mont.left(style="font-size:20px")
                                    |   The quickest way to get anything delivered in your city.

            .col.s12.m6                     
                .card.horizontal.z-depth-4(style="border-radius:13px;background:#8426DB")(data-aos="fadeInUp" data-aos-easing="linear" data-aos-duration="1500")
                    //- .card-image
                        img(src='https://lorempixel.com/100/190/nature/6')
                    .card-content
                        .row
                            .col.s12.m4.center
                                img(src="/images/location.png", alt="")
                            .col.s12.m8
                                p.white.mont.black-text.center.z-depth-2(style="text-transform:uppercase;font-weight:800;letter-spacing:3px;padding:6px 10px;border-radius:2px")
                                    |   Most Secure
                                h2.center.opensans.white-text(style="font-size:30px;font-weight:900;margin:0px;padding:30px")
                                    |   Get Everthing delivered most securely
                                p.mont.left(style="font-size:20px")
                                    |   The quickest way to get anything delivered in your city.

            .col.s12.m6                     
                .card.horizontal.z-depth-4(style="border-radius:13px;background:#EFBF51")(data-aos="fadeInUp" data-aos-easing="linear" data-aos-duration="1500")
                    .card-content
                        .row
                            .col.s12.m4.center
                                img(src="/images/timer.png", alt="")
                            .col.s12.m8
                                p.white.mont.black-text.center.z-depth-2(style="text-transform:uppercase;font-weight:800;letter-spacing:3px;padding:6px 10px;border-radius:2px")
                                    |   Most Secure
                                h2.center.opensans(style="font-size:30px;font-weight:900;margin:0px;padding:30px")
                                    |   Get Everthing delivered most securely
                                p.mont.left(style="font-size:20px")
                                    |   The quickest way to get anything delivered in your city.
block scripts