extends components/layout.pug

block styles

block content
    section
        .parallax-container.valign-wrapper
            .parallax
                img.dark(src="/images/office.jpg")
            .container.center
                h1.light.center.white-text Baaz Jungle Resort
        
        
    section.container
        h2.center.light.brown-text Story

        p.center.flow-text.light Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text. Some text.
        

    section
        .parallax-container.valign-wrapper
            .parallax
                img.dark(src="/images/office.jpg")
            .container.center
                h4.light.center.white-text "Baaz Jungle Resort nice Quote to fill place."

block scripts
    