.rale {
    font-family: 'Raleway', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.markazi {
    font-family: 'Markazi Text', serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.abril {
    font-family: 'Abril Fatface', cursive;
}

.bold-mont {
    font-family: 'Montserrat', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.waves-effect {
    display: initial;
}

nav ul li a:hover {
    background-color: transparent;
    /* box-shadow: tomato */
}

body {
    background-color: #555;
}

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}